*{
    margin : 0rem;
    padding : 0rem;
    box-sizing : border-box;
}

:root{
    --strong-cyan : hsl(172, 67%, 45%);
    --very-dark-cyan : hsl(183, 100%, 15%);
    --grayish-cyan : hsl(184, 14%, 56%);
    --dark-grayish-cyan : hsl(186, 14%, 43%);
    --light-grayish-cyan : hsl(185, 41%, 84%);
    --very-light-grayish-cyan : hsl(189, 41%, 97%);
    --white : hsl(0, 0%, 100%);
    --input-font-size : 24px;
    --font-weight : 700;
}

body{
    font-family: 'Space Mono', monospace;
    background-color: var(--light-grayish-cyan);
}

.splitter{
    text-align: center;
    padding : 1rem;
    position: absolute;
    width : 100vw;
    top : 12%;
    color : var(--dark-grayish-cyan);
    font-weight: var(--font-weight);
    letter-spacing: 8px;
}

.splitter span{
    display: block;
}

.main-box{
    display: grid;
    grid-template-columns: 1.75fr 1.5fr;
    grid-gap: 1.5rem;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-45%);
    background-color: var(--white);
    padding : 1.5rem;
    border-radius: 10px;
}

.tip-percentage{
    margin : 1rem 1rem 1rem 0rem;
}

#select-tip{
 margin-bottom : .5rem;
 display: inline-block;
 color : var(--dark-grayish-cyan);
 font-weight: 700;
 font-size: .85rem;
}

.percentages{
    display: grid;
    grid-template-columns: repeat(3,.6fr);
    grid-gap: .4rem;
}

.percentages span{
    display: inline-block;
    padding : 0.4rem 0rem;
    background-color: var(--very-dark-cyan);
    border-radius : 5px;
    outline: none;
    text-align: center;
    color : var(--white);
    transition: all 0.5s ease;
}

.percentages span:hover{
    cursor: pointer;
    background-color: var(--strong-cyan);
    color : #191919;
}

.percentages span.clickClass{
    background-color: var(--strong-cyan);
    color : #191919;
}

.percentages input{
    padding : 0.4rem 0rem;
    width : 100%;
    outline: none;
    border : 0px solid;
    background-color: var(--very-light-grayish-cyan);
}

.percentages input::placeholder{
    font-weight: 700;
    color : var(--grayish-cyan);
    text-align: center;
}

.percentages input:focus{
    border : 1.5px solid var(--strong-cyan);
}

#people, #bill{
    position: relative;
}

#people label, #bill label{
    display: block;
    color : var(--dark-grayish-cyan);
    font-weight: 700;
    margin-bottom: .45rem;
    font-size: .8rem;
}

#billIcon,#peopleIcon{
    outline : none;
    width : 95%;
    padding : .5rem;
    position: relative;
    border : 0px solid;   
}

#billIcon:hover,#peopleIcon:hover{
    cursor: pointer;
}

#billIcon:focus,#peopleIcon:focus{
    border : 1.5px solid var(--strong-cyan);
}

#billIcon{
    background: url('./images/icon-dollar.svg') no-repeat;
    background-position-x: 5px;
    background-position-y: 8px;
    background-size : 9px;
    background-color: var(--light-grayish-cyan);
}


#peopleIcon{
    background: url('./images/icon-person.svg') no-repeat;
    background-position-x: 7px;
    background-position-y: 10px;
    background-size : 10px;
    background-color: var(--light-grayish-cyan);
}

.icon::placeholder{
    color : var(--dark-grayish-cyan);
    font-weight: 700;
    position: absolute;
    right : 8px;
    bottom : 4px;
    font-size : 1.2rem;
}


/* STYLES FOR RIGHT DIV */

.right-div{
    background-color: var(--very-dark-cyan);
    color : var(--white);
    position: relative;
    border-radius : 8px;
    font-weight: 700;
}

.right-1-div,.right-2-div{
    width : 85%;
    padding : .4rem .2rem;
    position: absolute;
    transform: translateX(-50%);
    left : 50%;
    top : 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.right-div a{
    text-decoration: none;
    color : var(--very-dark-cyan);
    background-color: rgba(4, 104, 109, 0.815);
    display: block;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    bottom : 25px;
    left : 50%;
    transform : translateX(-50%);
    width : 85%;
    padding : .3rem .2rem;
    transition : all .5s ease;
}

.right-div a:hover{
    background-color: var(--strong-cyan);
}

.right-2-div{
    top : 30%;
}

.SubR1,.SubR2{
    font-size: .8rem;
}

.subr1,.subr2{
    font-size: .6rem;
    margin-top: .2rem;
    color : var(--dark-grayish-cyan);
}

.price{
    font-size: 2rem;
    color : var(--strong-cyan);
}

/* FOOTER DIV */

.attribution { 
    font-size: 12px; 
    text-align: center; 
    bottom: 10px;
    position: absolute;
    width : 100vw;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
