*{
    margin : 0rem;
    padding : 0rem;
    box-sizing : border-box;
}

:root{
    --strong-cyan : hsl(172, 67%, 45%);
    --very-dark-cyan : hsl(183, 100%, 15%);
    --grayish-cyan : hsl(184, 14%, 56%);
    --dark-grayish-cyan : hsl(186, 14%, 43%);
    --light-grayish-cyan : hsl(185, 41%, 84%);
    --very-light-grayish-cyan : hsl(189, 41%, 97%);
    --white : hsl(0, 0%, 100%);
    --input-font-size : 24px;
    --font-weight : 700;
}


body{
    font-family: 'Space Mono', monospace;
    background-color: var(--light-grayish-cyan);
}


.attribution { 
    font-size: 12px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.main-box{
    display: flex;
    flex-direction: row;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
}

.tip-percentage{
    margin : 1rem 1rem 1rem 0rem;
}

#select-tip{
 margin-bottom : .5rem;
 display: inline-block;
 color : var(--dark-grayish-cyan);
 font-weight: 700;
}

.percentages{
    display: grid;
    grid-template-columns: repeat(3,.6fr);
    grid-gap: .4rem;
}

.percentages span{
    display: inline-block;
    padding : 0.4rem 0rem;
    background-color: var(--very-dark-cyan);
    border-radius : 5px;
    outline: none;
    text-align: center;
    color : var(--white);
}

.percentages input{
    padding : 0.4rem 0rem;
    width : 100%;
    outline: none;
}

.percentages input::placeholder{
    font-weight: 700;
    color : var(--grayish-cyan);
    text-align: center;
}

#people label, #bill label{
    display: block;
    color : var(--dark-grayish-cyan);
    font-weight: 700;
    margin-bottom: .45rem;
}

#people input, #bill input{
    width : 100%;
    padding : .4rem;
    width : 95%;
}

.right-div{
    background-color: var(--very-dark-cyan);
    color : var(--white);
}

.right-div a{
    text-decoration: none;
    color : var(--very-dark-cyan);
    background-color: rgba(4, 104, 109, 0.815);
}